html{
    overflow-x: scroll;
    overflow-y: scroll;
}

body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #252424;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
    overflow: hidden;
}

h1, h2 {
    color: #fff; 
    margin-top: 20px;
}

form {
    margin: 20px 0;
    animation: fadeIn 1s ease;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

label {
    margin-bottom: 10px;
    color: #eee; 
}

input {
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease, transform 0.3s ease;
    width: 100%; /* Make input full-width */
    box-sizing: border-box; /* Include padding and border in the width */
}

input:focus {
    border-color: #45a049;
    transform: scale(1.05);
}

button {
    margin-top: 10px; /* Add space above button on small screens */
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideInTop 1s ease;
}

#logo {
    width: 450px;
    height: 150px;
    margin-right: 10px;
    border-color: #333;
    border: #333;
    background: url('Rupeek.png') no-repeat center center;
    background-size: cover;
}

@media (max-width: 768px) {
    #logo {
        zoom: 0.5;
        margin-right: 0; 
    }
}

#additionalInfo {
            color: #fff;
            margin-top: 20px;
            text-align: center;
        }


        .resultTable {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }
        
        .resultTable th, .resultTable td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
            color: white; 
        }
        
        .resultTable {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }
        
        .resultTable th,
        .resultTable td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
            color: white; 
        }
        
                            /* Orange rows */
            .resultTable tr:nth-child(-n + 3) td,
            .resultTable tr:nth-child(-n + 3) th {
                background-color: #FFA500;
            }

            /* Green rows */
            .resultTable tr:nth-child(n + 4):nth-child(-n + 6) td,
            .resultTable tr:nth-child(n + 4):nth-child(-n + 6) th {
                background-color: #4CAF50;
            }

            /* Blue rows */
            .resultTable tr:nth-child(n + 7):nth-child(-n + 8) td,
            .resultTable tr:nth-child(n + 7):nth-child(-n + 8) th {
                background-color: #0000FF;
            }

            /* Purple rows */
            .resultTable tr:nth-last-child(-n + 3) td,
            .resultTable tr:nth-last-child(-n + 3) th {
                background-color: #8A2BE2;
            }



        


        #resultsContainer {
            display: flex;
            flex-wrap: wrap;
            animation: fadeIn 1s ease;
            justify-content: center;
            align-items: flex-start;
            font-size: medium;
            font-size: 18px;
        }

        .resultBox {
            border: 1px solid #ddd;
            padding: 15px;
            margin: 15px;
            box-sizing: border-box;
            background-color: #ffd700;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(255, 223, 0, 0.5);
            transition: transform 0.3s ease;
            width: 350px;
            text-align: center;
        }

        .resultBox:hover {
            transform: scale(1.05);
        }

        .resultBox p {
            font-family: 'Aerial', serif;
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
            font-weight: bold;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes slideInTop {
            from {
                transform: translateY(-100%);
            }

            to {
                transform: translateY(0);
            }
        }